version: '3.3'
services:
  web:
    build:
      context: ./
    volumes:
      - .:/src
    command: supervisor -e  'js,pug,html' index.js
    ports:
      - "3000:3000"
    depends_on:
      - db
  db:
    image: mysql:8.0
    restart: always
    env_file:
      - ./.env
    ports:
      - "3310:3306"
    volumes:
      - ./db:/var/lib/mysql
      - ./foodshare-db.sql:/docker-entrypoint-initdb.d/foodshare-db.sql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    env_file:
      - ./.env
    ports:
      - "8082:80"
